-f https://download.pytorch.org/whl/cpu/torch_stable.html
-f https://data.pyg.org/whl/torch-1.7.1+cpu.html
torch==1.7.1+cpu
torchvision==0.8.2
dominate==2.6.0
Pillow==8.0.1
numpy==1.19.2
visdom==0.1.8
wandb==0.12.18
streamlit