dominate==2.6.0
pytorch==1.8.1
-f https://download.pytorch.org/whl/cpu/torch_stable.html
torchvision==0.9.1
-f https://download.pytorch.org/whl/cpu/torch_stable.html
Pillow==8.0.1
numpy==1.19.2
visdom==0.1.8
wandb==0.12.18
streamlit